################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj/Debug
.vs
/App_LocalResources/ModuleSettings.ascx.HR-hr.resx
